[Unit]
Description=Summarization Chatbot
After=syslog.target network.target

[Service]
Type=simple
User=ian
WorkingDirectory=
ExecStart=
Environment=SUMMARIZER_USERNAME=
Environment=SUMMARIZER_PASSWORD=
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
